@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

body {
    
    color: hsl(300, 43%, 22%);
    background-image: url("images/bg-pattern-top-desktop.svg"),
    url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-position-y: 0, 100px;
    
}

.container {
    height: 100vh;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.container-top {
    display: flex;
    
    width: 100%;
    margin-bottom: 30px;
}

.container-topleft {
    width: 50%;
    padding-right: 12%;
    min-width: 300px;
}

.container-topleft h1 {
    font-size: 2.5rem;
    line-height: 40px;
    margin-bottom: 10px;
}

.description {
    font-size: .75rem;
    line-height: 20px;
}

.container-ratings {
    width: 50%;
    min-width:330px;
}

.container-ratings section {
    display: flex;
    align-items: center;
    width: 70%;
        
}

.container-ratings section p {
    margin-left: 18px;
}

.ratings-top-container {
    display: flex;
    justify-content: left;
}
.ratings-middle-container {
    display: flex;
    justify-content: center;
}
.ratings-bottom-container {
    display: flex;
    justify-content: right;
}

.ratings-top, .ratings-middle, .ratings-bottom {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 7px;
    padding: 15px;
    font-size: 11px;
    font-weight: 800;
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
    min-width: 330px;
}

.container-ratings img {
    height: 13px;
    padding-right: 3px;
}
.container-ratings p {
    padding-left: 20px;
}

.container-bottom {
    display: flex;
    height: 200px;
    font-size: 10px;
    line-height: 18px;
    margin-bottom: 50px;
}
.container-bottom-col1 {
    display: flex; 
    align-items: start;
    min-width: 250px;
    max-width: 300px;
    
}
.container-bottom-col2 {
    display: flex; 
    align-items: center;
    min-width: 250px;
    max-width: 300px;
    margin-left: 25px;
    margin-right: 25px;
}
.container-bottom-col3 {
    display: flex; 
    align-items: end;
    min-width: 250px;
    max-width: 300px;
}

.reviewer {
    background-color: hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);
    padding: 25px;
    border-radius: 7px;
}

.container-bottom img {
    height: 30px;
    border-radius: 50px;
}

.reviewer-person {
    display: flex;
    align-items: start;
    margin-bottom: 15px;
}

.reviewer-title {
    color: hsl(333, 80%, 67%);
    margin-left: 15px;
}

.reviewer-name {
    font-weight: 800;
    margin-left: 15px;
}

.attribution {
    justify-content: end;
}