@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    color: white;
    font-size: 15px;
        
}

body {
    background: url("images/bg-desktop.svg") no-repeat center center fixed;
    background-color: hsl(257, 40%, 49%);
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background-size: 200vh;
   
    
}

h1 {
    font-family: 'Poppins';
    font-size: 2.2rem;
}
.container {
    display: flex;
    margin-top: 60px;
}

.left-column {
    width: 55%;
}

.right-column {
    margin-left: 40px;
    margin-top: 40px;
    width: 45%;
}

.right-column p {
    letter-spacing: 1px;
    line-height: 25px;
}
.logo {
    width: 200px;
}

button {
    background-color: white;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    border-width: 0px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    color: hsl(257, 40%, 49%)
}

.social {
    display: flex;
    justify-content: end;
    

}

.attribution {
    text-align: center;
}

i {
    width: 35px;
}