@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Space+Mono&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    color: hsl(229, 6%, 66%);
    font-size: 15px;
        
}

/*
    MAIN LAYOUT
*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    background-color: hsl(0, 0%, 98%);
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 505px;
    margin-bottom: 50px;
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 975px;
}

.card {
    height: 200px;
    width: 300px;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0px 10px 30px -15px hsl(229, 6%, 66%);

}

.column {
    display: flex;
    justify-content: center;
}

.middle-container {
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.description {
    font-size: .7rem;
    margin-top: 5px;
}


/*  
    STYLING DETAILS
*/

header h1 {
    font-size: 1.9rem;
}

.subtitle p {
    margin-top: 10px;
    font-size: .8rem;
}

h1 {
    color: hsl(234, 12%, 34%);
    font-size: 1.2rem
}

.reliable {
    font-weight: 200;
}

.team-builder {
    margin-bottom: 25px;
    border-color: hsl(0, 78%, 62%);
    border-width: 4px 0px 0px 0px;
    border-style: solid;
}

.supervisor {
    border-width: 4px 0px 0px 0px;
    border-color: hsl(180, 62%, 55%);
    border-style: solid;
}

.karma {
    border-width: 4px 0px 0px 0px;
    border-color: hsl(34, 97%, 64%);
    border-style: solid;
}

.calculator {
    border-width: 4px 0px 0px 0px;
    border-color: hsl(212, 86%, 64%);
    border-style: solid;
}

img {
    width: 20%;
    position: relative;
    top: 30px;
    left: 200px;
}

@media (max-width: 375px) {
    body {
        flex-direction: column;
        width: 375px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1200px;
    }

    .supervisor, .karma {
        margin-bottom: 25px;
    }

    header h1 {
        font-size: 1.5rem;
    }

}