@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    width: 100%;
    color: hsl(217, 19%, 35%);
    font-size: 15px;
        
}

body {
    background-color: hsl(210, 46%, 95%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    width: 730px;
    height: 280px;
    margin: 0, auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
}

.left {
    width: 40%;
    overflow: hidden;
}

.desk {
    width: 360px;
    height: 280px;
    border-radius: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 35px;
}


.right h1 {
    font-size: 1.3rem;
    padding-right: 10px;
}

.right p {
    font-size: .8rem;
    padding-right: 16px;
}

.designer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.designer-image {
    width: 35px;
    border-radius: 50px;
}

.subtext {
    color:hsl(214, 17%, 51%);
}

.designer-details {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    padding-left: 10px;
}

.designer-name {
    font-weight: 1000;
    color: hsl(217, 19%, 35%);
}

.designer-date {
    color: hsl(212, 23%, 69%);
}

footer {
    width: 700px;
    font-size: .7rem;
    margin-top: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-size: .7rem;
}

.share-button {
    display: flex;
    justify-content: flex-end;
    
}

.share-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: hsl(214, 17%, 51%);
    border-radius: 50px;
    cursor: pointer;
}

.share-arrow {
    width: 15px;
    height: 12px;
    filter: brightness(250%);
    margin-right: -1px;
    margin-top: -1px;
}

.share-popup {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 55px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 12px;
    right: -70px;
    bottom: 94px;
    z-index: 1;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.share-text {
    color: hsl(212, 23%, 69%);
    font-size: .8rem;
    letter-spacing: 5px;
    width: 60px;
}

.icon {
    width: 18px;
    height: 18px;
    margin-left: 14px;
    filter: opacity(.9);
}

.box-corner {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 35px;
    bottom: 90px;
    background-color: hsl(217, 19%, 35%);
    transform: rotate(45deg);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
 
}

.share-button-sc {
    display: flex;
    justify-content: flex-end;
    width: 60px;
    z-index: -1;
}

.share-circle-sc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50px;
    cursor: pointer;
}

.share-arrow-sc {
    width: 15px;
    height: 12px;
    margin-right: -1px;
    margin-top: -1px;
}

.popup-group {
    filter: opacity(0);
    z-index: -1;
    transition: ease-in-out;
    transition-duration: 200ms;
    transition-property: filter, z-index;
}

@media (max-width: 675px) {
    .container {
        flex-direction: column;
        width: 350px;
        height: 520px; 
    
    }

    .left {
        width: 100%;
        height: 200px;
    }

    .right {
        width: 100%;
        height: 320px;
        padding: 25px;
        padding-bottom: 15px;
        padding-right: 40px;
    }

    .popup-group {
        right: 200px;
        transition-duration: 0ms;
    }

    footer {
        width: 100%;
    }

    .desk {
        width: 350px;
    }

    .share-button-sc {
        z-index: 3;
        padding-top: 10px;
    }

    .share-button {
        z-index: -1;
        width: 10px;
    }

    .share-popup {
        bottom: 0px;
        right: 0px;
        width: 350px;
        height: 65px;
        border-radius: 0px 0px 12px 12px;
        justify-content: flex-start;
        z-index: 2;
        padding-left: 25px;
    }

    .popup-group {
        
        filter: opacity(0);
        
    }

    .box-corner {
        filter: opacity(0);
        z-index: -5;
    }

    .right p {
        padding-right: 0px;
        font-size: .9rem;
        line-height: 24px;
    }

    .right h1 {
        font-size: 1.1rem;
    }

    .designer .designer-details {
        align-items: flex-end;
        justify-content: flex-end;
        
    }

    .share-click-circle {
        background-color: hsl(214, 17%, 51%);
    }
    .share-click-arrow {
        filter: brightness(200);
    }

}