@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin-right: 15px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Commissioner', sans-serif;
}

* :hover button {
  cursor: pointer;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("images/image-hero-desktop.jpg") no-repeat;
  width: 1440px;
  height: 400px;
}

.top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 142px;
  list-style-type: none;
  padding-top: 45px;
}

.top ul li {
  padding-left: 15px;
  color: #f7f7f7;
}

.logo {
  width: 130px;
  height: 20px;
  padding-top: 45px;
  padding-left: 142px;
}

.hamburger, .mobile-menu-close {
  display: none;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 1440px;
  height: 1760px;
  background-color: #f7f7f7;
}

.content-dark {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.title, .progress, .bottom-container {
  background-color: white;
  padding: 45px;
  margin-bottom: 30px;
}

.container {
  position: absolute;
  width: 730px;
  background-color: #f7f7f7;
  top: -90px;
  border-radius: 8px;
}

.title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
}

.title img {
  width: 50px;
  position: absolute;
  top: -25px;
}

.title p {
  color: #7a7a7a;
  padding-top: 10px;
  font-size: .85rem;
  font-weight: 500;
}

.title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
}

.title .back-this-project {
  width: 200px;
  height: 55px;
  background-color: #3cb4ac;
  color: white;
  border-radius: 20px;
  border-style: none;
  font-weight: 500;
}

.title .bookmark {
  width: 150px;
  height: 55px;
  font-weight: 700;
  background-color: #f7f7f7;
  border-radius: 20px;
  border-style: none;
  color: #7a7a7a;
  text-align: right;
  padding-right: 28px;
  -webkit-transition: ease-out;
  transition: ease-out;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.title .bookmark-toggle {
  color: #3cb4ac;
  width: 165px;
}

.title .bookmark-image {
  height: 55px;
  width: 55px;
  top: 128px;
  right: 155px;
  -webkit-transition: ease-out;
  transition: ease-out;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.title .bookmark-image-toggle {
  right: 170px;
  -webkit-filter: invert(60%) sepia(70%) saturate(362%) hue-rotate(127deg) brightness(89%) contrast(89%);
          filter: invert(60%) sepia(70%) saturate(362%) hue-rotate(127deg) brightness(89%) contrast(89%);
}

.bookmark-image:hover {
  cursor: pointer;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
}

.progress .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress .stats h1 {
  font-size: 1.6rem;
}

.progress .stats p {
  color: #7a7a7a;
  font-size: .85rem;
  font-weight: 500;
  opacity: 80%;
  margin-top: 5px;
}

.progress .stats div:nth-child(1) {
  padding-right: 42px;
}

.progress .stats div:nth-child(2) {
  padding-right: 72px;
}

.progress .stats div:nth-child(2), .progress .stats div:nth-child(3) {
  padding-left: 42px;
  border-left-width: 1px;
  border-left-color: #b6b6b6;
  border-left-style: solid;
}

.gray-line {
  background-color: #f7f7f7;
  height: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 25px;
}

.gray-line .cyan-line {
  background-color: #3cb4ac;
  height: 10px;
  width: 80%;
  border-radius: 10px;
}

.bottom-container {
  border-radius: 8px;
}

.about h1, .bamboo h1, .black h1, .mahogany h1 {
  font-size: 1.2rem;
}

.about .pledge-box-middle, .about .about-description, .bamboo .pledge-box-middle, .bamboo .about-description, .black .pledge-box-middle, .black .about-description, .mahogany .pledge-box-middle, .mahogany .about-description {
  font-size: .9rem;
  color: #b6b6b6;
  line-height: 24px;
  font-weight: 500;
}

.bamboo, .black, .mahogany {
  border-width: 1px;
  border-style: solid;
  border-color: #e4e4e4;
  margin-top: 20px;
  border-radius: 8px;
  padding: 25px;
}

.bamboo p, .black p, .mahogany p {
  color: #3cb4ac;
  font-size: .8rem;
  font-weight: 800;
}

.pledge-box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pledge-box-middle, .about-description {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pledge-box-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 160px;
      grid-template-columns: auto 160px;
}

.pledges-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pledges-left h1 {
  font-size: 1.6rem;
  padding-right: 6px;
}

.pledges-left p {
  color: #b6b6b6;
}

.mahogany {
  opacity: 50%;
}

.mahogany .out-of-stock {
  background-color: #b6b6b6;
}

.select-reward {
  background-color: #3cb4ac;
}

.select-reward, .out-of-stock {
  border-style: none;
  border-radius: 50px;
  height: 45px;
  width: 155px;
  color: white;
  font-weight: 500;
}

.select-reward:hover, .back-this-project:hover {
  background-color: #147b74;
}

footer {
  color: white;
}

.modal-container {
  height: 98vh;
  width: 788px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  margin-top: 10px;
}

.modal-container :hover input, .modal-container label {
  cursor: pointer;
}

.modal, .modal form {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 840px;
  width: 670px;
  background-color: white;
  border-radius: 12px;
  padding: 10px 50px 50px 50px;
  gap: 15px;
}

.modal h1, .modal p, .modal form h1, .modal form p {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.modal-no-pledge, .modal-bamboo, .modal-black, .modal-mahogany {
  border: 1px solid #e4e4e4;
  border-radius: 6px;
}

.modal-mahogany {
  opacity: 50%;
}

.show-modal {
  opacity: 100%;
  pointer-events: auto;
}

.close-modal {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 3;
}

:hover .close-modal {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  cursor: pointer;
}

.modal-box {
  padding: 20px;
  margin-top: 10px;
}

.modal-box label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
  font-weight: 700;
}

.modal-box label .radio-no-pledge {
  display: none;
}

.modal-box label .radio-no-pledge:checked + .radio-revised::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-box label .radio-revised {
  width: 16px;
  height: 16px;
  border: 1px #e4e4e4;
  border-style: solid;
  border-radius: 50%;
  margin-right: 20px;
  padding: 6px;
}

.modal-box label .radio-revised::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #3cb4ac;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.modal-box label:hover {
  color: #3cb4ac;
}

.modal-box label:hover div {
  border-color: #3cb4ac;
}

.modal-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-box div label {
  padding-right: 15px;
  font-weight: 700;
}

.modal-box div .text1 {
  font-weight: 700;
  color: #3cb4ac;
}

.modal-box div .text2 {
  font-weight: 700;
  margin-left: auto;
}

.modal-box div .text3 {
  font-size: .9rem;
  color: #b6b6b6;
  font-weight: 500;
  padding-left: 7px;
  padding-right: 12px;
}

.modal-box p {
  font-size: .9rem;
  color: #b6b6b6;
  line-height: 24px;
  font-weight: 500;
  padding-left: 50px;
  padding-top: 15px;
}

.bamboo-enter-your-pledge, .black-enter-your-pledge {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  height: 98px;
  width: 100%;
}

.bamboo-enter-your-pledge p, .black-enter-your-pledge p {
  font-size: .9rem;
  color: #b6b6b6;
  font-weight: 500;
  padding-top: 40px;
  padding-left: 20px;
}

.bamboo-enter-your-pledge .pledge-amount-container, .bamboo-enter-your-pledge .pledge-amount, .black-enter-your-pledge .pledge-amount-container, .black-enter-your-pledge .pledge-amount {
  text-align: right;
  margin-left: auto;
  margin-right: 12px;
  width: 90px;
  height: 48px;
  background-color: white;
  border-radius: 20px;
  color: black;
  font-weight: 700;
}

.bamboo-enter-your-pledge .pledge-amount, .black-enter-your-pledge .pledge-amount {
  border: 1px #e4e4e4 solid;
}

.bamboo-enter-your-pledge .pledge-amount-container:focus, .black-enter-your-pledge .pledge-amount-container:focus {
  border: none;
}

.bamboo-enter-your-pledge .pledge-amount:focus, .bamboo-enter-your-pledge .pledge-amount:hover, .black-enter-your-pledge .pledge-amount:focus, .black-enter-your-pledge .pledge-amount:hover {
  border: 1px #3cb4ac solid;
  outline: none;
}

.bamboo-enter-your-pledge .continue, .black-enter-your-pledge .continue {
  margin-right: 26px;
  border: none;
  width: 100px;
  height: 48px;
  background-color: #3cb4ac;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

.bamboo-enter-your-pledge .pledge-amount-container, .black-enter-your-pledge .pledge-amount-container {
  position: relative;
}

.bamboo-enter-your-pledge .dollar-sign, .black-enter-your-pledge .dollar-sign {
  position: absolute;
  top: -23px;
  left: -5px;
}

.bamboo-enter-your-pledge .continue:hover, .black-enter-your-pledge .continue:hover {
  background-color: #147b74;
}

.no-pledge-enter {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  height: 85px;
  width: 100%;
}

.no-pledge-enter .continue {
  margin-right: 26px;
  border: none;
  width: 100px;
  height: 48px;
  background-color: #3cb4ac;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

.no-pledge-enter .continue:hover {
  background-color: #147b74;
}

.enter-your-pledge-appear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-container-border {
  border: 2px #3cb4ac solid;
  border-radius: 6px;
}

.change-modal-box-border {
  border: 0;
  border-bottom: 1px #e4e4e4 solid;
  border-radius: 0px;
}

.thanks-box {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 450px;
  max-height: 70vh;
  width: 540px;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
  background-color: white;
  border-radius: 8px;
  padding: 60px;
}

.thanks-box p {
  font-size: .9rem;
  color: #b6b6b6;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 34px;
  text-align: center;
}

.thanks-box .got-it {
  border: none;
  width: 100px;
  height: 48px;
  background-color: #3cb4ac;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

.thanks-box .got-it:hover {
  background-color: #147b74;
}

.show-thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 675px) {
  .top {
    width: 385px;
    height: 300px;
    background: url("images/image-hero-mobile.jpg") no-repeat center;
    background-size: auto 300px;
  }
  .top .logo {
    padding-top: 30px;
    padding-left: 25px;
  }
  .top .hamburger {
    display: block;
    width: 17px;
    height: 17px;
    margin-right: 25px;
    margin-top: 30px;
  }
  .top .menu-container {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  .top .menu-container .mobile-menu-close {
    position: fixed;
    width: 15px;
    height: 15px;
    right: 25px;
    top: 35px;
  }
  .top .menu-container .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
    height: 200px;
    width: 200px;
    margin-top: 80px;
    background-color: white;
    padding-top: 0;
    border-radius: 8px;
  }
  .top .menu-container .menu li {
    color: black;
    width: 317px;
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 25px;
  }
  .top .menu-container .menu li:nth-child(2) {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .top .menu-container .menu li:nth-child(1) {
    padding-top: 10px;
  }
  .top .menu-container .menu li:nth-child(3) {
    padding-bottom: 10px;
  }
  .content {
    height: 2300px;
    width: 375px;
  }
  .content .bookmark {
    display: none;
    padding: 0;
  }
  .content .bookmark-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .content .bookmark-image {
    position: static;
  }
  .container {
    width: 340px;
    top: -55px;
  }
  .title, .progress, .bottom-container {
    padding: 30px;
  }
  .modal-container {
    width: 375px;
  }
  .title {
    height: 200px;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .title h1 {
    padding-top: 20px;
  }
  .progress .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .progress .stats div {
    text-align: center;
  }
  .progress .stats div:nth-child(1) {
    padding-right: 0;
    padding-bottom: 15px;
  }
  .progress .stats div:nth-child(2), .progress .stats div:nth-child(3) {
    padding-right: 0;
    padding-left: 0;
    border-left-width: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px #b6b6b6 solid;
  }
  .pledge-box-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 25px;
  }
  .pledge-box-top h1 {
    font-size: .8rem;
  }
  .pledge-box-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pledge-box-bottom .pledges-left {
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */