@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Commissioner', sans-serif;
}

* :hover button {
  cursor: pointer;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("images/image-hero-desktop.jpg") no-repeat;
  width: 1440px;
  height: 400px;
}

.top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 142px;
  list-style-type: none;
  padding-top: 45px;
}

.top ul li {
  padding-left: 15px;
  color: #f7f7f7;
}

.top img {
  width: 130px;
  height: 20px;
  padding-top: 45px;
  padding-left: 142px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 1440px;
  height: 1760px;
  background-color: #f7f7f7;
}

.content-dark {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.title, .progress, .bottom-container {
  background-color: white;
  padding: 45px;
  margin-bottom: 30px;
}

.container {
  position: absolute;
  width: 730px;
  background-color: #f7f7f7;
  top: -90px;
  border-radius: 8px;
}

.title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
}

.title img {
  width: 50px;
  position: absolute;
  top: -25px;
}

.title p {
  color: #7a7a7a;
  padding-top: 10px;
  font-size: .85rem;
  font-weight: 500;
}

.title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
}

.title .back-this-project {
  width: 200px;
  height: 55px;
  background-color: #3cb4ac;
  color: white;
  border-radius: 20px;
  border-style: none;
  font-weight: 500;
}

.title .bookmark {
  width: 150px;
  height: 55px;
  font-weight: 700;
  background-color: #f7f7f7;
  border-radius: 20px;
  border-style: none;
  color: #7a7a7a;
  text-align: right;
  padding-right: 28px;
  -webkit-transition: ease-out;
  transition: ease-out;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.title .bookmark-toggle {
  color: #3cb4ac;
  width: 165px;
}

.title .bookmark-image {
  height: 55px;
  width: 55px;
  top: 128px;
  right: 155px;
  -webkit-transition: ease-out;
  transition: ease-out;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.title .bookmark-image-toggle {
  right: 170px;
  -webkit-filter: invert(60%) sepia(70%) saturate(362%) hue-rotate(127deg) brightness(89%) contrast(89%);
          filter: invert(60%) sepia(70%) saturate(362%) hue-rotate(127deg) brightness(89%) contrast(89%);
}

.bookmark-image:hover {
  cursor: pointer;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.progress .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress .stats h1 {
  font-size: 1.6rem;
}

.progress .stats p {
  color: #7a7a7a;
  font-size: .85rem;
  font-weight: 500;
  opacity: 80%;
  margin-top: 5px;
}

.progress .stats div:nth-child(1) {
  padding-right: 42px;
}

.progress .stats div:nth-child(2) {
  padding-right: 72px;
}

.progress .stats div:nth-child(2), .progress .stats div:nth-child(3) {
  padding-left: 42px;
  border-left-width: 1px;
  border-left-color: #b6b6b6;
  border-left-style: solid;
}

.gray-line {
  background-color: #f7f7f7;
  height: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 25px;
}

.gray-line .cyan-line {
  background-color: #3cb4ac;
  height: 10px;
  width: 80%;
  border-radius: 10px;
}

.about h1, .bamboo h1, .black h1, .mahogany h1 {
  font-size: 1.2rem;
}

.about .pledge-box-middle, .about .about-description, .bamboo .pledge-box-middle, .bamboo .about-description, .black .pledge-box-middle, .black .about-description, .mahogany .pledge-box-middle, .mahogany .about-description {
  font-size: .9rem;
  color: #b6b6b6;
  line-height: 24px;
  font-weight: 500;
}

.bamboo, .black, .mahogany {
  border-width: 1px;
  border-style: solid;
  border-color: #e4e4e4;
  margin-top: 20px;
  border-radius: 8px;
  padding: 25px;
}

.bamboo p, .black p, .mahogany p {
  color: #3cb4ac;
  font-size: .8rem;
  font-weight: 800;
}

.pledge-box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pledge-box-middle, .about-description {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pledge-box-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 160px;
      grid-template-columns: auto 160px;
}

.pledges-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pledges-left h1 {
  font-size: 1.6rem;
  padding-right: 6px;
}

.pledges-left p {
  color: #b6b6b6;
}

.mahogany {
  opacity: 50%;
}

.mahogany .out-of-stock {
  background-color: #b6b6b6;
}

.select-reward {
  background-color: #3cb4ac;
}

.select-reward, .out-of-stock {
  border-style: none;
  border-radius: 50px;
  height: 45px;
  width: 155px;
  color: white;
  font-weight: 500;
}

.select-reward:hover, .back-this-project:hover {
  background-color: #147b74;
}

footer {
  color: white;
}

.modal-container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.modal-container :hover input, .modal-container label {
  cursor: pointer;
}

.modal, .modal form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 840px;
  width: 670px;
  background-color: white;
  border-radius: 12px;
  padding: 10px 50px 50px 50px;
  margin-top: 30px;
  gap: 25px;
}

.modal h1, .modal p, .modal form h1, .modal form p {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.modal-box, .modal-mahogany {
  border-style: solid;
  border-width: 1px;
  border-color: #e4e4e4;
  border-radius: 6px;
}

.modal-mahogany {
  opacity: 50%;
}

.show-modal {
  opacity: 100%;
  pointer-events: auto;
}

.close-modal {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 3;
}

:hover .close-modal {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  cursor: pointer;
}

.modal-box {
  padding: 20px;
  margin-top: 10px;
}

.modal-box label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
  font-weight: 700;
}

.modal-box label .radio-no-pledge {
  display: none;
}

.modal-box label .radio-no-pledge:checked + .radio-revised::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-box label .radio-revised {
  width: 16px;
  height: 16px;
  border: 1px #e4e4e4;
  border-style: solid;
  border-radius: 50%;
  margin-right: 20px;
  padding: 6px;
}

.modal-box label .radio-revised::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #3cb4ac;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.modal-box label:hover {
  color: #3cb4ac;
}

.modal-box label:hover div {
  border-color: #3cb4ac;
}

.modal-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-box div label {
  padding-right: 15px;
  font-weight: 700;
}

.modal-box div .text1 {
  font-weight: 700;
  color: #3cb4ac;
}

.modal-box div .text2 {
  font-weight: 700;
  margin-left: auto;
}

.modal-box div .text3 {
  font-size: .9rem;
  color: #b6b6b6;
  font-weight: 500;
  padding-left: 7px;
  padding-right: 12px;
}

.modal-box p {
  font-size: .9rem;
  color: #b6b6b6;
  line-height: 24px;
  font-weight: 500;
  padding-left: 50px;
  padding-top: 15px;
}
/*# sourceMappingURL=style.css.map */